.bodyDefault {
  background-image: url('/PNX.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #130D25;
  height: 375px;
  overflow: hidden;
}

body.managerbgTMNT {
  background-image: url('/TMNT.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #130D25;
  height: 175px;
  overflow: hidden;
}

body.managerbgDH {
  background-image: url('/DH.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #130D25;
  height: 80vh;
}

body.managerbgHFM {
  background-image: url('/HFM.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #130D25;
  height: 80vh;
}

body.managerbgBMC {
  background-image: url('/BMC.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #130D25;
  height: 375px;
  overflow: hidden;
}

body.managerbgPNX {
  background-image: url('/PNX.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #130D25;
  height: 375px;
  overflow: hidden;
}