@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-secondary-bg-color, white);
}

body.manager-bg {
  background: #f0f0f0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}